* {
  margin: 0;
  padding: 0;
}
/* --------------navbar1---------------------------- */
.navbar1{
    height: 35px;
} */

/* --------------------------Navbar2------------------------- */

#nav-bar {
  position: sticky;
  z-index: 1;
  top: 0;
}
.navbar {
  background-color: #ffff;
  padding: 0 !important;
}
.navbar-nav li {
  padding: 0 10px;
}
.navbar-nav li a {
  color: #33475b !important;
  font-weight: 400;
  word-spacing: 1;
  float: left;
  text-align: left;
}
.navbar-nav li a :hover {
  color: #47cfbe !important;
}
.navbar-toggler {
  outline: none !important;
}
/* ------banner------ */
.banner {
  background-color: #fff;
}
.col-md-6 {
  padding: 15px !important;
}
.col-md-6 h2 {
  color: #00a9fa;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  margin-top: 100px;
  letter-spacing: 2px;
}
.col-md-6 h6 {
  font-size: 20px;
  letter-spacing: 2px;
  color: #00a9fa;
  font-weight: normal;
  font-style: normal;
}

.col-md-6 h1 {
  font-weight: bold;
  font-style: normal;
  color: #33475b;
  font-size: 40px;
  letter-spacing: 2px;
}
.col-md-6 h4 a {
  text-decoration: none;
  color: #00a9fa;
  font-weight: bold;
  font-style: normal;
  font-size: 40px;
  letter-spacing: 2px;
}
.contactNumb {
  border: 2px solid #00a9fa;
  height: 30px;
  margin-right: 100px;
  color: #00a9fa;
  text-align: center;
  margin-top: 5px;
  background-color: #ffff;
  outline: none;
}
.HiringSpan {
  display: none;
  border: 2px solid #00a9fa;
  height: auto;
  /* margin-right: 100px; */
  color: #00a9fa;
  text-align: center;
  /* margin-top: 5px; */
  background-color: #ffff;
  outline: none;
  padding:0;
}
.contactNumb p {
  position: relative;
  bottom: 6px;
  text-align: center;
  color: #00a9fa;
}
.dropdown:hover > .dropdown-menu {
  display: flex;
  position: relative;
  top: 125%;
  width: 40rem;
  justify-content: space-between;
  align-items: stretch;
  border: none;
  box-shadow: 2px 2px #888888;
}
/* ---------------good Hands------------ */
#goodHands {
  padding: 80px 0px;
}
.goodhands {
  padding: 10px;
}
.topLine {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
  color: #33475b;
  z-index: 1;
}
.row1 {
  width: 100%;
}
.cols {
  height: 50px;
  width: 250px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
}
.row1::before {
  content: "";
  background-color: #CBD6E2;
  height: 2px;
  width: 100%;
  position: absolute;
  right: 0;
  left: 0;
  transform: translate(0, 15px);
  z-index: -1;
}
.goodHandsImages {
    height: 40%;
  width: 60%;
  margin-top: 20px;
}
.review {
  border: 2px solid #00a9fa;
  height: 40px;
  width: 90px;
  text-align: center;
  background-color: #ffff;
  outline: none;
}
.review a {
  text-decoration: none;
  color: #00a9fa;
}

/* -----------Service Section------------------- */
#services {
  padding: 80px 0px;
}
#service-website {
  width: 100%;
  height: auto;
  margin-top: -30px;
}
.service-img {
    height: 40%;
  width: 100%;
  margin-top: 20px;
}
.col-md-3 h4 {
  text-align: center;
  text-transform: uppercase;
}
.col-md-3 p {
  text-align: center;
  text-transform: uppercase;
}
.services {
  padding: 10px;
  /* box-shadow: 2px 2px 2px 2px black; */
text-overflow: inherit;
overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
word-wrap: break-word;
}
.title {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  letter-spacing: 2px;
  color: #33475b;
}
.title::before {
  content: "";
  background-color: #00a9fa;
  height: 5px;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  transform: translateY(63px);
}
.title::after {
  content: "";
  background-color: #00a9fa;
  height: 10px;
  width: 50px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
  display: block;
  transform: translateY(-4px);
}
/* -------------------Hubspot------------------ */

#hubspot {
  padding: 80px 0px;
}
.hubspot {
  padding: 10px;
}
.title-main {
  letter-spacing: 1px;
  word-spacing: 0.5px;
  font-size: 28px;
  color: #33475b;
}
#hubspot-badge {
  width: 25%;
  margin-right: auto;
  margin-left: auto;
}
.text-main {
  letter-spacing: 1px;
  word-spacing: 0.5px;
  font-size: 20px;
  color: #33475b;
}
.hubspot-img {
  width: 100%;
  margin-top: 20px;
  filter: grayscale(100%);
}
/* ----------------Clients---------------- */
#clients {
  padding: 80px 0px;
}
.testimonial {
  border-left: 4px solid #00a9fa;
  border-bottom: 4px solid #00a9fa;
  border-radius: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.testimonial img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 10px;
}
.testimonial p {
  padding: 10px;
}
.user-details {
  display: inline-block;
  font-size: 12px;
}

/* -------------------Blogs & Resources ----------------------*/

#Blogs{
    padding:80px 0px;
}
#text1{
    /* text-align: center; */
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 2px;
    color: #00a9fa;
    float: left;
    position: absolute;
    /* left: ; */
  

}
#text2{
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 2px;
    word-spacing: 2%;

}
#text3{
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 2px;
    word-spacing: 2%;
    margin-top: 10px;
    /* position: relative;
    float: right; */
    cursor: pointer;
   

}
.card{
    box-shadow: 4px 4px 4px 4px #888888;
    /* margin: auto */
}
.card-text{
    text-decoration: none;
}
.card-body p{
    text-align: center;
     font-size: 20px; 

}
.card-body p a{
  color: #33475b;
  cursor: pointer;
  text-decoration: none;

}
.card-body p a:hover{
  color:#00a9fa
}
#row2{
    margin-top: 40px;
}
#videoblog{
  color: #939ddd;
}
#hubspot{
  color: #ff977d;
}
#websiteblog{
  color:#47cfbe;
}
.blog{
  /* /* padding: 10px; */
  /* margin: 10px;  */
  /* background-color: red; */
  /* width: 20rem; */
}
/* ------------list of services----------- */
.websiteList h3 {
  font-size: 20px;
  word-spacing: 0.5px;
  margin-left: 30px;
}
.row > .websiteList:nth-child(1) > h3 {
  color: #47cfbe;
}
.row > .websiteList:nth-child(2) > h3 {
  color: #939ddd;
}
.row > .websiteList:nth-child(3) > h3 {
  color: #f7ce89;
}
.row > .websiteList:nth-child(4) > h3 {
  color: #ff977d;
}
.row > .websiteList:nth-child(5) > h3 {
  color: #7ad2fc;
}
#listofservice {
  padding: 80px 0px;
}
.row {
  flex-wrap: wrap;
}

.websiteList ul {
  position: relative;
  /* padding: 100px; */
  /* margin-right: auto; */
  /* margin-left: auto; */
  float: left;
}
.websiteList ul li {
  list-style-type: none;
  line-height: 2;
  /* margin:0; */
  display: flex;
  align-items: center;
}
.websiteList ul li a {
  text-decoration: none;
  color: black;
}
.websiteList ul li a:hover {
  text-decoration: none;
  color: #47cfbe;
}
.hiring {
  height: 10px;
  width: 100px;
  text-overflow: clip;
  background-color: #00a9fa;
  margin-bottom: 2px;
  margin-left: 2px;
  padding: 0px 0px 30px 4px;
  border-radius: 2px;
  color: #ffff;
  cursor: pointer;
}

/* ------------------Footer--------------- */

#footer {
  padding: 80px 0px;
}
.social-icons {
  position: relative;
}
.social-icons ul {
  position: absolute;
  right: 0;
  margin-top: 30px;
}
.social-icons ul li {
  list-style-type: none;
  display: inline;
}

.social-icons img {
  width: 40px;
  transition: 0.5s;
}
.country-icons {
  position: relative;
}
.country-icons ul {
  position: absolute;
  left: 0;
  margin-top: 30px;
}
.country-icons ul li {
  list-style-type: none;
  display: inline;
}

.country-icons img {
  width: 40px;
  transition: 0.5s;
}
#para-right,#para-left{
  position: relative;
}
#para-right p {
  position: absolute;
  right: 0;
  margin-right: 40px;
  word-spacing: 0.5px;
  font-size: 20px;
  color: #00a9fa;
}
#para-left p {
  position: absolute;
  left: 0;
  margin-left: 30px;
  word-spacing: 0.5px;
  font-size: 20px;
  color: #00a9fa;
}

@media only screen and (max-width: 991px) {
  .navbar1 {
    display: none;
  }
  .navbar-nav {
    background-color: #f5f8fa;
  }
  .contactNumb {
    display: none;
  }
  .HiringSpan {
    display: block;
    width: 20%;
    text-align: center;

  }
  .HiringSpan p {
    position: relative;
    bottom: 6px;
    color: #00a9fa;
  }
  .dropdown:hover > .dropdown-menu {
    top: -125%;
    bottom: 125%;
    right: 0;
  }
}
